.goal-container {
  display: flex;
  flex-direction: column;
  padding: 50px;
  border-bottom: 1px solid #e0e0e0;
}

.goal-container:last-child {
  border: none;
}

.goal-text {
  font-family: "Arial";
  font-size: 30px;
  padding: 2px;
  text-align: center;
}

.day-container{
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-column-gap: 10px;
  margin: 35px 0px;
  width: 70%;
  align-self: center;
}

.day-container h3, .checkbox-container {
  text-align: center;
  margin-bottom: 5px;
}

.checkbox-container {
 display: block;
 position: relative;
 cursor: pointer;
 -webkit-user-select: none;
 -moz-user-select: none;
 -ms-user-select: none;
 user-select: none;
}

.checkbox-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.checkmark {
  display: inline-block;
  position: relative;
  height: 25px;
  width: 25px;
  background-color: #cecece;
}

.checkbox-container:hover input ~ .checkmark {
  background-color: #ccc;
}

.checkbox-container input:checked ~ .checkmark {
  background-color: #8bc745;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
.checkbox-container input:checked ~ .checkmark:after {
  display: block;
}

.checkbox-container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.remove-button {
  align-self: center;
  background-color: #ad2a2a;
  border:none;
  width: 100px;
  color: #fff;
  font-size: 18px;
  height: 40px;
}

.remove-button:hover {
  background-color: #c64141
}

@media (max-width: 600px) {
  .goal-container {
    padding: 50px 10px;
  }

  .day-container{
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 10px;
    grid-template-areas: "1" "2" "3" "4";
    width: 90%;
  }

  .day-container .day-checkbox:nth-last-child(-n+3) {
    grid-area: 4;
  }

  .day-container .day-checkbox {
    grid-area: 2;
  }

  .day-container h3:nth-child(-n+4) {
    grid-area: 1;
  }
  .day-container h3 {
    grid-area: 3;
  }

  .remove-button {
    width: 200px;
    font-size: 20px;
    height: 50px;
  }
}
